body {
    font-family: 'Verdana', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}


.card {
    border: 2px solid #dc3545;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 15px;
}

.card-title {
    font-weight: bold;
    color: #dc3545;
    margin-bottom: 20px;
    font-size: 1.5rem;
}


.form-group label {
    color: #dc3545;
    font-weight: bold;
}

.form-control {
    border: 2px solid #dc3545;
    border-radius: 5px;
    padding: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
    border-color: #c82333;
    box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}

.form-control::placeholder {
    color: #dc3545;
}

.btn-primary {
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-primary:hover {
    background-color: #c82333;
    box-shadow: 0 4px 8px rgba(220, 53, 69, 0.3);
}

.btn-block {
    width: 100%;
}


.btn-success,
.btn-warning,
.btn-danger {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-success {
    background-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    box-shadow: 0 4px 8px rgba(40, 167, 69, 0.3);
}

.btn-warning {
    background-color: #ffc107;
}

.btn-warning:hover {
    background-color: #e0a800;
    box-shadow: 0 4px 8px rgba(255, 193, 7, 0.3);
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    box-shadow: 0 4px 8px rgba(220, 53, 69, 0.3);
}


.table {
    border: 2px solid #dc3545;
}

.table th,
.table td {
    border: 1px solid #dc3545;
    padding: 15px;
    text-align: left;
}

.table th {
    background-color: #f5c6cb;
    color: #721c24;
    text-transform: uppercase;
    font-weight: bold;
}

.table td {
    background-color: #ffe6e6;
}


.list-group-item {
    background-color: #ffe6e6;
    border: 1px solid #dc3545;
    color: #dc3545;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.list-group-item:hover {
    background-color: #f5c6cb;
    box-shadow: 0 4px 8px rgba(220, 53, 69, 0.3);
}


a {
    color: #dc3545;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #c82333;
    text-decoration: underline;
}


.mt-3 {
    margin-top: 20px !important;
}

.mt-5 {
    margin-top: 40px !important;
}

.text-center {
    text-align: center !important;
}

.container {
    margin-top: 20px;
}


.form-check-input:checked+.form-check-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
}



.saldo-atual, .extrato {
    border: 1px solid #dc3545;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.voltar-ao-inicio {
    position: fixed;
    bottom: 20px;
    left: 20px;